body {
    font-family: 'Arial', sans-serif;
    background-color: #4cb11e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: id="question-image" src="doce.webp" alt="Imagem da Pergunta";
}

.quiz-container {
    text-align: center;
    background-color: #c7197f;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

button {
    background-color: #ff6347;
    color: rgb(44, 9, 168);
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #d34832;
}
